~*.pyc
__pycache__
venv/
db.sqlite3
.DS_Store
mysite/local_settings.py
mysite/settings_prod.py
.idea/workspace.xml

#IDE
.idea/

#pycache
.pycache/

#test logs
geckodriver.log

~*.xml
'.idea'

resume/
templates/resume/

.env
env/
.venv/
cert*
key.pem
