export DJANGO_SETTINGS_MODULE="mysite.settings"
export DJANGO_DEBUG="FALSE"
export SECRET_KEY=""
export ALLOWED_HOSTS=[]
export COVERAGE="TRUE"
export DATABASE_NAME="blog"
export DATABASE_USER=""
export DATABASE_PASSWORD=""
export DATABASE_HOST="127.0.0.1"
export DATABASE_PORT="3306"
export SENTRY_DSN=""
export GOOGLE_RECAPTCHA_SITE_KEY=""
export GOOGLE_RECAPTCHA_SECRET_KEY=""
export EMAIL_HOST_USER=""
export EMAIL_HOST_PASSWORD=""
