beautifulsoup4
black
coverage
Django==4.0.4
django-autoslug
django-contrib-comments
django-extensions
django-markdownfield
django-markup
django-mptt
django-recaptcha
django-richtextfield
lxml
mysqlclient
pdfkit
Pillow
pygments
pyOpenSSL
pytest
pytest-django
pytest-dotenv
python-dotenv
requests
sentry-sdk
Werkzeug
