asgiref==3.2.3
atomicwrites==1.1.5
attrs==18.1.0
beautifulsoup4==4.8.2
bleach==3.3.0
colorama==0.3.9
coverage==4.5.1
Django==3.0.14
django-autoslug==1.9.6
django-contrib-comments==2.1.0
django-js-asset==1.2.2
django-markdownfield==0.10.0
django-markup==1.5
django-mptt==0.12.0
django-richtextfield==1.6.1
djangorestframework==3.11.2
importlib-metadata==4.0.1
Markdown==3.3.4
more-itertools==4.2.0
mysqlclient==1.4.6
packaging==20.9
Pillow==8.2.0
pluggy==0.6.0
py==1.10.0
Pygments==2.8.1
pyparsing==2.4.7
pytest==3.6.1
pytz==2018.4
selenium==3.12.0
shortuuid==1.0.1
six==1.11.0
soupsieve==1.9.5
sqlparse==0.3.0
typing-extensions==3.7.4.3
webencodings==0.5.1
zipp==3.4.1
