{% extends "blog/layout.html" %}

{% block content %}

<!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/blog/img/past-talks-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ talk.title }}</h1>
              <h2 class="subheading">{{ talk.event }}</h2>
              <span class="meta">Presented by
                {{ talk.presenter }}
                on {{ talk.date_presented.date }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

     <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-md-10 mx-auto">
            <p>{{ talk.description|linebreaks }} </p>
            <p>Slides available here: <br /><a class="meta" href="{{ talk.slides }}">{{ talk.slides }}</a> </p>
          </div>
        </div>
      </div>
    </article>

{% endblock %}
