{% extends "blog/layout.html" %}

{% block content %}

<!-- Page Header -->
    <header class="masthead" style="background-image: url('static/blog/img/contact-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Thank you!</h1>
              <span class="subheading">Your email was sent to me successfully.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

   <!-- Page Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-md-10 mx-auto">
            <p>I will be in touch with you as soon as possible. Please call again soon.</p>
          </div>
        </div>
      </div>
    </article>

{% endblock %}
