{% extends "blog/layout.html" %}

{% block content %}

<!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>
            I have over 12 years of experience in the ICT sector and previously held multiple positions in Zimbabwe and globally. 
            I received a BSc (Hons.) in Computer Science from Midlands State University and an MSc in Strategic Management from Chinhoyi 
            University.
          </p>

          <p>
            Since 2015 I have focused on Python/Django development and have been very active in the community as a conference speaker, 
            Django Girls Trustee, and member of the DSF’s Code of Conduct Committee. Since 2018 I have served on the DSF Board and held 
            the position of Vice President (2019-2020) and currently President (2020-present).
          </p>

          <p>
            I am the lead maintainer of the open source Django Girls repo where I write code, update documentation, review pull requests, 
            and maintain the server. Recent work includes updating the project from Django 2.0 to 3.2 in stages and improving the layout.
          </p>

          <p>
            In 2019, I worked for BriteCore where I wrote tests to increase the test coverage for the BriteCore software packages, 
            developed internal tools and APIs and conducted research for the BriteCore platform. I also reviewed pull requests for my team members, 
            contributed to internal documentation and attended to client tickets.
          </p>

           <p>
             Projects I have worked on independently include an <a href="https://github.com/amakarudze/activity_generator">activity generator API</a> 
             that suggests activities one can do when they are bored; and an <a href="https://github.com/amakarudze/xmlreader">XML to HTML convertor</a> 
             that converts DMARC reports which are in XML format to HTML to make them human-readable. I am currently working 
             on a <a href="https://github.com/amakarudze/library_management">library management system</a> and a 
             <a href="https://github.com/amakarudze/conveyances">conveyances system</a> for fun.
           </p>

        </div>
      </div>
    </div>

{% endblock %}
s
