{% extends "blog/layout.html" %}

{% block content %}

<!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>I am a freelance Full Stack Python Developer based in Harare,
          Zimbabwe. I am currently employed by Django Girls Foundation as the Fundraising
          Coordinator on a part-time basis. I am a volunteer and secretary of the Python
          Zimbabwe Trust, a non-profit that organises Python events in Zimbabwe like
            PyCon Zimbabwe (an annual conference for Python programmers in Zimbabwe).</p>

            <p>I have also organised several Django Girls Harare,
            Django Girls Masvingo and Django Girls Heidelberg events. I was one of the organisers
              of DjangoCon Europe 2018, held in Heidelberg, Germany from 23rd to 27th May 2018.
              I am also founder and organiser of PyLadies Harare, a mentorship group for women
              interested in Python programming.</p>

            <p>I have also coached at Django Girls Windhoek three times and spoke at many conferences.
              These include DjangoCon Europe 2017, PyCon Italy 2017, Codemotion Milan 2017,
              PyCon Namibia 2016, 2017 & 2018, PyCon South Africa 2016 and PyCon Zimbabwe 2016.
              I also sit in the Django Software Foundation Board of Directors for 2018
              and have volunteered in the Django Software Foundation Code of Conduct Committee
              since February 2017.</p>

          <p>I am a holder of a BSc (Hons.) in Computer Science from the Midlands State
            University and a MSc in Strategic Management from Chinhoyi University. I have
            worked in various positions in the ICT industry in Zimbabwe. These include Senior ICT
            Technician at the Women’s University in Africa, Network Operations Centre Technician
            and Billing Analyst at Spiritage Communications and Senior BSS/OSS (Business
            Support Systems/Operations Support Systems) Consultant for Rubiem Technologies.</p>
        </div>
      </div>
    </div>

{% endblock %}
