{% extends "blog/layout.html" %}

{% block content %}

    <!-- Page Content -->
      <div class="row">
        <div class="col-md-12 col-md-12 mx-auto">
            {% if posts %}
            {% for post in posts %}
              <!-- Blog Post -->
              <div class="card mb-4">
                <img class="card-img-top" src="{{ post.cover.url }}" width="900px" alt="{{ post.alt_text }}">
                <div class="card-body">
                    <a href="{% url 'blog:post' pk=post.pk %}"><h2 class="card-title">{{ post.title }}</h2></a>

                  <div class="card-text d-inline-block text-truncate text-wrap" style="max-height: 3rem;">
                      {{ post.text_rendered|safe }}</div>

                  <a href="{% url 'blog:post' pk=post.slug %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-white">
                  {{ post.published_date }} by
                  {{ post.user.get_full_name }}
                </div>
              </div>

            {% endfor %}
            <nav>
                <ul class="pagination justify-content-center mb-4">
                    {% for page in posts.paginator.page_range %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        {% else %}
            <p>No posts available at this time</p>
        {% endif %}

        </div>
      </div>

{% endblock %}
