<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Home - Anna Makarudze</title>

    {% load static %}

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/fontawesome-free/css/fontawesome.min.css' %}" rel="stylesheet"
        type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <div class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="socialNav">
    <ul class="list-inline list-social ml-auto">
      <li class="list-inline-item">
        <a href="https://github.com/amakarudze">
            <i class="fab fa-github"></i>
          </a>
      </li>
      <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/anna-makarudze-b23b4527/">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com/amakarudze">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://m.facebook.com/amakarudze">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
      </ul>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #6f42c1">
    <div class="container">
      <a class="navbar-brand navbar-branding text-white" href="{% url 'blog:home' %}">
        <img class="img-profile rounded-circle" src="{% static 'img/anna_avatar.jpeg' %}">
        Anna Makarudze</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'blog:home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'blog:about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'blog:talks' %}">Talks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'blog:contact' %}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </div>
  <!-- Page Content -->
  <div class="container">

    <div class="row">
      {% load markup_tags %}

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">{{ title }}
          <small>{{ sub_title}}</small>
        </h1>
        {% block content %}

        {% endblock %}


      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <form method="GET" action="{% url 'blog:search' %}">
            <div class="input-group">
              <input type="search" name="search_query" class="form-control" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-primary btn-text" type="submit">
                  Search  <i class="fa fa-search"></i></button>
              </span>
            </div>
            </form>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            {% for category in categories %}
            {% if forloop.first %}<div class="row">{% endif %}
            <div class="col-lg-6"> <a href="{% url 'blog:category' category.id %}">{{ category.name }}</a></div>
            {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
            {% endfor %}
          </div>
        </div>  

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Coding Tips</h5>
          <div class="card-body">
            {% if tip %}
              <h4>{{ tip.topic }}</h4>
              <hr>
              <h5>Category: {{ tip.category.name }}</h5>
              <hr>
              {{ tip.text_rendered|safe }}
            {% else %}
              Sorry, no tip to display for you today.
            {% endif %}
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="sticky-footer py-3" style="background-color: #6f42c1">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Anna Makarudze {{ year }}</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://www.google.com/recaptcha/api.js"></script>

</body>

</html>
