{% extends "blog/layout.html" %}
{% load markdownify %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <!-- Title -->
        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{ post.user.get_full_name }}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>{{ post.published_date }}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{ post.cover.url }}" width="900px" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead">{{ post.text_rendered|markdownify }}</p>
  </div>
</div>

{% endblock %}
