{% extends 'blog/layout.html' %}

{% block content %}

     <!-- Page Content -->
      <div class="row">
          <h2>Posts matching query</h2>
        <div class="col-md-12 col-md-12 mx-auto">
            {% if posts_search_results %}
            {% for result in posts_search_results %}
              <!-- Blog Post -->
              <div>
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'blog:post' pk=result.uuid %}">{{ result.title }}</a></h5>
                  <div class="card-text text-truncate text-wrap d-inline-block" style="max-height: 4rem;">
                      {{ result.text_rendered|safe }}</div>
                    <br/>
                    <br/>
                </div>
              </div>

            {% endfor %}

        {% else %}
            <p>Your search yielded no results at this time</p>
        {% endif %}

        </div>
      </div>

    <hr>

    <!-- Page Content -->
    <div class="row">
        <div class="col-md-12 col-md-12 mx-auto">
            <h2>Talks matching query</h2>
            {% if talks_search_results %}
            {% for result in talks_search_results %}
            <!-- Blog Post -->
            <div>
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'blog:talk' pk=result.pk %}">{{ result.title }}</a></h5>
                    <div class="card-text text-truncate text-wrap d-inline-block" style="max-height: 4rem;">
                        {{ result.description|linebreaks }}</div>
                </div>
            </div>

            {% endfor %}

            {% else %}
            <p>Your search yielded no results at this time</p>
            {% endif %}

        </div>
    </div>


{% endblock %}
