{% extends 'blog/layout.html' %}

{% block content %}

     <!-- Page Content -->
      <div class="row">
        <div class="col-md-12 col-md-12 mx-auto">
            {% if results %}
            {% for result in results %}
              <!-- Blog Post -->
              <div class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                <div class="card-body">
                  <h2 class="card-title">{{ result.title }}</h2>
                  <p class="card-text">{{ result.summary }}</p>
                  <a href="{% url 'blog:post' pk=result.pk %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                  {{ post.published_date }} by
                  <a href="#">{{ result.user.get_full_name }}</a>
                </div>
              </div>

            {% endfor %}
            <nav>
                <ul class="pagination justify-content-center mb-4">
                    {% for page in results.paginator.page_range %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        {% else %}
            <p>Your search yielded no results at this time</p>
        {% endif %}

        </div>
      </div>


{% endblock %}
