{% extends "blog/layout.html" %}

{% block content %}

<!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/blog/img/talks-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Past Talks</h1>
              <span class="subheading">My previous conference talks.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

<!-- Page Content -->
     <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          {% if talks %}
            {% for talk in talks %}
          <div class="post-preview">
            <a href="{% url 'talk' pk=talk.pk %}">
              <h2 class="post-title">
                {{ talk.title }}
              </h2>
              <h3 class="post-subtitle">
                {{ talk.event }}
              </h3>
            </a>
            <p class="post-meta">
              <a href="{{ talk.slides }}">{{ talk.slides }}</a>
              on {{ talk.date_presented }}</p>
              <p class="btn btn-primary"><a href="{% url 'talk' pk=talk.pk %}">Read more...</a></p>
          </div>
            {% endfor %}
          <nav>
                <ul class="pagination">
                    {% for page in talks.paginator.page_range %}
                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
          {% else %}
          <p>No past talks have been uploaded yet</p>
          {% endif %}
        </div>
      </div>
     </div>

{% endblock %}
