{% extends "blog/layout.html" %}

{% block content %}
<!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/blog/img/talks-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Past Talks</h1>
              <span class="subheading">My previous conference talks.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
     <div class="container">
        <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Community & Inspirational Talks</h3>
            <p class="lead mb-0">Read about the various community oriented talks I have presented on
                and learn about my own experiences!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Conferences & Events</h3>
            <p class="lead mb-0">Want to learn about organising conferences and events?
                Learn about my own experiences!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Technical Talks</h3>
            <p class="lead mb-0">Learn a few things about several technologies I love working with!</p>
          </div>
        </div>
      </div>
     </div>

{% endblock %}
