{% extends "blog/layout.html" %}

{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/blog/img/upcoming-events-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Events</h1>
              <span class="subheading">My Upcoming Events.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
     <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
            {% if events %}
            {% for event in events %}
          <div class="post-preview">
            <a href="">
              <h2 class="post-title">
                {{ event.name }}
              </h2>
              <h3 class="post-subtitle">
                {{ event.location }}
              </h3>
            </a>
            <p class="post-meta">Date: {{ event.fromdate }} -  {{ event.todate }}
              <a href="">{{ event.website }}</a>
            </p>
          </div>
            {% endfor %}
            <nav>
                <ul class="pagination">
                    {% for page in events.paginator.page_range %}
                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            {% else %}
            <p>No upcoming events scheduled for me at this time.</p>
            {% endif %}
        </div>
      </div>
     </div>

    <br />


{% endblock %}
