/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		overflow: hidden;
		padding: 10em 0em 10em 0em;
		background: url(/static/blog/images/bg01.JPG) repeat-x center top;
		height:400px;
		border-bottom: 20px solid rgba(0,0,0,.5);
		background-repeat: no-repeat;
		background-size: cover;
	}

	
#navbar navbar-inverse navbar-fixed-top
{
	background-color: #FFFFFF;
	color: #032CA6;
}

#nav navbar-nav
li
{
	color: #032CA6;
}
#navbar-link
{
	color:#032CA6
}

#navbar-link:hover
{
	color:#032CA6
}

#navbar-link:active
{
	color:#FFFFFF
}

a
	{
		color: #032CA6;
	}

	a:hover
	{
		text-decoration: none;
		color: #032CA6;
	}
}

a:active
{
	text-decoration: none;
	color: #FF0000;
}
}

#btn btn-default
{
	color: FF0000;
}


/* Dropdown Button */
.dropbtn {
    background-color: #FFFFFF;
    color: #032CA6;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #032CA6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #FF0000}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #FF0000;
		color: #032CA6;
}
